# Data permutation and combination for Chinese Name

# Loading the dataset

In [332]:
import pandas as pd
import numpy as np 
import itertools
import functools

data = pd.read_csv('https://raw.githubusercontent.com/hankcs/HanLP/master/data/dictionary/custom/%E4%BA%BA%E5%90%8D%E8%AF%8D%E5%85%B8.txt', header = None)
#data = pd.read_csv('https://raw.githubusercontent.com/fung1091/profile/master/worksample/combin.txt')
data.columns = ["a"]
#print (data.head())
len(data)

50190

# Data cleaning and transfer into dataframe

In [333]:
splitted = data['a'].apply(lambda x: pd.Series(list(x)))
splitted.columns = ['B'+str(x) for x in splitted.columns]
df2 = data.join(splitted)
df2 = pd.DataFrame(df2.iloc[1:50191, 1:4])


print(df2.head())
len (df2)

  B0 B1 B2
1  丁  一  宇
2  丁  一  平
3  丁  万  明
4  丁  世  伟
5  丁  世  芳

50189

In [334]:
# character of last name
#df3 = pd.DataFrame(df2.iloc[:, 0:1])
#df3 = df3['B0'].unique()
#df3 = pd.DataFrame({'B0':df3})
#print (df3.head())
#len (df3)
#print(df3.to_csv(r'last_name.txt', header=None, index=None, sep=' ', mode='a'))

## Extract the last name and count the frequency, then remove less than 5

In [335]:
# character of last name
df3 = pd.DataFrame(df2.iloc[:, 0:1])
df3['count'] = 1
df3 = df3.groupby(['B0'], as_index=False).count()
df3 = df3.sort_values(by=['count'], ascending=False) # sort the largest value
df3 = df3[df3['count'] > 5] # remove the number less than 1
df3 = pd.DataFrame(df3.iloc[:, 0:1]) # remove counter column
print (df3.head())

#len (df3)
# Export dataframe to txt file
print(df3.to_csv(r'last_name.txt', header=None, index=None, sep=' ', mode='a'))

    B0
568  王
449  李
350  张
875  陈
126  刘
None

The number of first name:

In [336]:
len(df3)

528

## Extract first character of first name and count the frequency, then remove less than 12

In [337]:
# first character of first name
df4 = pd.DataFrame(df2.iloc[:, 1:2])
df4['count'] = 1
df4 = df4.groupby(['B1'], as_index=False).count()
df4 = df4.sort_values(by=['count'], ascending=False) # sort the largest value
df4 = df4[df4['count'] > 12] # remove the number less than 1
df4 = pd.DataFrame(df4.iloc[:, 0:1])
print (df4.head())
len (df4)

     B1
1010  晓
955   文
630   尔
751   建
628   小

679

## Extract second character of first name and count the frequency, then remove less than 12

#### Drop symbol function

In [338]:
# Drop symbol function 

def drop(df, column):

    
    #drop('·') & - symbol and empty 
    indexNames = df5[df5['B2'] == ' '].index
 
    # Delete these row indexes from dataFrame
    df5.drop(indexNames , inplace=True)

    indexNames1 = df5[df5['B2'] == '·'].index
 
    # Delete these row indexes from dataFrame
    df5.drop(indexNames1 , inplace=True)

    indexNames2 = df5[df5['B2'] == '-'].index
 
    # Delete these row indexes from dataFrame
    df5.drop(indexNames2 , inplace=True)

    indexNames2 = df5[df5['B2'] == '—'].index
 
    # Delete these row indexes from dataFrame
    df5.drop(indexNames2 , inplace=True)

In [339]:
# last name
drop(df3, 'B0')
len(df3)

528

In [340]:
# first character of first name
drop(df4, 'B1')
len(df4)

679

In [341]:
# second character of first name
drop(df5, 'B2')
len(df5)

524

In [342]:
if df5.empty:
    print('DataFrame is empty!')
else:
    print('DataFrame is no empty!')

DataFrame is no empty!

In [343]:
# check empty rows
def emptyrows(df):
    if df.empty:
        print('DataFrame is empty!')
    else:
        print('DataFrame is no empty!')
        
emptyrows(df3)
emptyrows(df4)
emptyrows(df5)

DataFrame is no empty!
DataFrame is no empty!
DataFrame is no empty!

In [344]:
Totalnum = len(df4)*len(df5)

print ("Total number of first name is {}".format(Totalnum))

Total number of first name is 355796

## Export to txt for translation

In [345]:
print(df3.to_csv(r'last.txt', header=None, index=None, sep=' ', mode='a'))
print(df4.to_csv(r'firstname_12_one.txt', header=None, index=None, sep=' ', mode='a'))
print(df5.to_csv(r'firstname_12_second.txt', header=None, index=None, sep=' ', mode='a'))

None
None
None

# Translate from simple chinese to traditional chinese
From txt file to txt file

In [346]:
from hanziconv import HanziConv
import pandas as pd

def Translate_value(txt_org, txt_new, num):
    with open(txt_org, 'r') as f:
        myNames = [line.strip() for line in f]
        str1 = ''.join(myNames)
        z = HanziConv.toTraditional(str1)
        x= num # last name = 1, first name =2
        res=[z[y-x:y] for y in range(x, len(z)+x,x)]
        with open(txt_new, 'w') as f:
            for item in res:
                f.write("%s\n" % item)

In [347]:
#last_name.txt
Translate_value('last.txt','last_TC.txt', 1)
#first character of first name
Translate_value('firstname_12_one.txt','firstname_12_one_TC.txt', 1)
#second character of first name
Translate_value('firstname_12_second.txt','firstname_12_second_TC.txt', 1)

In [348]:
d = {'last_TC.txt','firstname_12_one_TC.txt','firstname_12_second_TC.txt'}

for i in d:
    dffr = pd.read_csv(i, sep=" ", header=None,)
    print (dffr.head())

   0
0  曉
1  文
2  爾
3  建
4  小
   0
0  王
1  李
2  張
3  陳
4  劉
   0
0  華
1  斯
2  平
3  爾
4  明

# Testing accuracy

In [349]:
def Testing(txt_org, txt_new):
    # Convert to String
    with open(txt_org, 'r') as f:
        myNames2 = [line.strip() for line in f]
        str2 = ''.join(myNames2)
        #print (myNames2)
    with open(txt_new, 'r') as f:
        myNames3 = [line.strip() for line in f]
        str3 = ''.join(myNames3)
        #print (myNames3)
    print (HanziConv.same(str2, str3))
    compare_different(str2, str3)

In [350]:
# Compare strings
def compare_different(question_old, question_new):
    ALL_CHAR = set()
    if question_old != question_new:
        print("========")
        set_old = set(question_old)
        set_new = set(question_new)
        print(set_old-set_new)
        print(set_new-set_old)
        for element in set_new-set_old:
            ALL_CHAR.add(element)
        print("========")

In [351]:
# last_name
# 'last.txt','last_TC.txt'
Testing('last.txt','last_TC.txt')

True
========
{'畅', '韩', '纽', '毕', '劳', '钟', '孙', '闵', '内', '谈', '东', '寿', '余', '马', '阳', '宫', '岳', '银', '刘', '维', '麦', '汉', '库', '蔺', '晋', '诺', '宾', '纪', '里', '云', '蓝', '巩', '乐', '爱', '齐', '满', '邝', '姜', '单', '练', '钮', '铁', '达', '诸', '胡', '权', '蒋', '迟', '凤', '乌', '陆', '严', '陈', '费', '时', '赵', '松', '乔', '凯', '怀', '顾', '缪', '区', '庄', '琼', '别', '涂', '卜', '盖', '丛', '凌', '贾', '储', '荣', '赛', '绍', '约', '冯', '苏', '应', '纳', '汤', '叶', '宁', '杨', '连', '关', '温', '萧', '农', '伦', '邬', '杰', '于', '谢', '贡', '帅', '萨', '郁', '兴', '亚', '项', '邹', '蒙', '吕', '赖', '广', '庞', '吴', '习', '郑', '贝', '让', '经', '舍', '车', '卫', '欧', '华', '闻', '简', '向', '迈', '邓', '国', '谷', '许', '窦', '鲁', '钱', '娄', '闫', '丰', '范', '莱', '优', '谌', '才', '宝', '千', '尔', '荆', '兰', '泽', '贺', '万', '卢', '买', '强', '龙', '楼', '骆', '饶', '黄', '热', '党', '曲', '阎', '聂', '回', '克', '扎', '朴', '边', '师', '游', '扬', '奥', '门', '沈', '丽', '张', '罗', '鲍', '来', '朱', '阙', '励', '圣', '韦', '颜', '图', '谭', '龚', '玛'}
{'歐', '習', '許', '關', '維', '濛', '饒', '馬', '榖', '闕', '陽', '麯', '簡', '熱', '蔔', '暢', '區', '陸', '豐', '瀋', '賈', '瓊', '餘', '瑪', '莊', '韋', '庫', '權', '鬍', '練', '劉', '賽', '帥', '塗', '讓', '鬱', '錢', '談', '榮', '國', '呂', '滿', '寜', '雲', '紹', '聞', '鄒', '倫', '蓋', '纔', '達', '剋', '賀', '鞏', '納', '孫', '連', '聖', '費', '顧', '來', '勞', '勵', '諸', '師', '淩', '強', '蕭', '萬', '韆', '嶽', '紀', '鄭', '壽', '婁', '龔', '顔', '圖', '晉', '閆', '蔣', '鄧', '約', '時', '單', '樓', '麗', '諶', '遊', '葉', '賴', '盧', '迴', '於', '藺', '羅', '鄔', '楊', '經', '凱', '湯', '鮑', '陳', '趙', '鳳', '藍', '龍', '蘭', '烏', '譚', '懷', '衛', '鬆', '車', '嚮', '紮', '鍾', '喬', '薩', '薑', '貝', '裏', '揚', '荊', '硃', '閔', '門', '澤', '寶', '萊', '農', '謝', '溫', '龐', '黃', '竇', '應', '興', '爾', '諾', '鐵', '魯', '韓', '項', '鄺', '儲', '嚴', '銀', '內', '貢', '叢', '傑', '買', '蘇', '廣', '亞', '閻', '邁', '華', '畢', '黨', '東', '繆', '宮', '優', '鈕', '漢', '賓', '彆', '遲', '愛', '聶', '吳', '馮', '駱', '樸', '齊', '奧', '捨', '紐', '範', '麥', '樂', '邊', '張'}
========

In [352]:
# first character of first name
# 'firstname_12_one.txt','firstname_12_one_TC.txt'
Testing('firstname_12_one.txt','firstname_12_one_TC.txt')

True
========
{'畅', '梦', '冬', '顿', '澜', '继', '纯', '劳', '钟', '锦', '内', '顺', '树', '东', '寿', '阳', '风', '马', '聪', '钧', '谦', '岳', '银', '维', '则', '麦', '远', '汉', '库', '悦', '晋', '诺', '园', '纪', '宾', '里', '云', '历', '乐', '济', '胜', '欢', '爱', '传', '为', '齐', '炜', '宪', '满', '韵', '铁', '达', '会', '权', '晓', '凤', '铭', '军', '显', '志', '瑶', '灵', '晖', '陈', '时', '松', '轶', '乔', '钰', '凯', '怀', '联', '鹏', '坚', '潇', '焕', '发', '艳', '咏', '庄', '琼', '娅', '圆', '彦', '兹', '卜', '导', '伟', '劲', '勋', '凌', '荣', '绍', '赛', '诚', '滨', '腾', '莲', '镇', '润', '隽', '苏', '绪', '应', '纳', '贤', '义', '宁', '叶', '杨', '献', '连', '农', '伦', '书', '洁', '鸿', '杰', '业', '从', '帅', '萨', '开', '兴', '刚', '亚', '礼', '桥', '静', '蒙', '轩', '广', '枫', '贝', '骏', '跃', '涛', '经', '辉', '卫', '钦', '华', '向', '冲', '长', '国', '莹', '谷', '红', '艺', '鲁', '剑', '灿', '姗', '丰', '莱', '贵', '钊', '才', '宝', '千', '尔', '峥', '家', '兰', '鸣', '合', '泽', '飞', '选', '岛', '钢', '贺', '万', '买', '强', '复', '当', '庆', '龙', '硕', '进', '学', '玛', '竞', '岗', '黄', '诗', '烨', '双', '启', '鹤', '克', '丝', '扎', '颖', '运', '芸', '秋', '锐', '锋', '边', '师', '扬', '奥', '门', '岚', '丽', '罗', '玮', '来', '圣', '栋', '韦', '干', '征', '图', '啸'}
{'為', '義', '瀾', '維', '濛', '馬', '榖', '陽', '歡', '蓮', '瑩', '蔔', '暢', '豐', '徵', '濤', '瓊', '瀟', '瑪', '莊', '韋', '庫', '權', '瑋', '運', '帥', '賽', '靜', '貴', '勛', '潔', '燁', '榮', '國', '茲', '軼', '鼕', '島', '誌', '軒', '韻', '滿', '寜', '雲', '紹', '則', '崗', '鋼', '鋒', '楓', '倫', '纔', '曆', '剋', '達', '賀', '圓', '納', '開', '連', '聖', '暉', '勁', '來', '勞', '雙', '師', '淩', '強', '飛', '萬', '韆', '鈞', '嶽', '賢', '紀', '傢', '彥', '壽', '銘', '鴻', '聰', '雋', '風', '圖', '晉', '穎', '軍', '鈺', '欽', '時', '誠', '麗', '葉', '傳', '進', '騰', '頓', '羅', '靈', '潤', '楊', '經', '純', '凱', '錦', '濱', '聯', '陳', '鳳', '慶', '龍', '蘭', '瑤', '煒', '復', '偉', '懷', '衛', '啓', '鬆', '業', '嚮', '悅', '謙', '禮', '駿', '紮', '鍾', '緒', '喬', '曉', '薩', '顯', '貝', '鎮', '裏', '揚', '門', '絲', '澤', '當', '寶', '萊', '農', '黃', '長', '燦', '鞦', '應', '興', '諾', '鐵', '魯', '煥', '蕓', '爾', '園', '發', '銀', '內', '鵬', '會', '嵐', '藝', '鶴', '夢', '詩', '釗', '傑', '導', '競', '買', '蘇', '廣', '閤', '繼', '亞', '橋', '嘯', '華', '東', '銳', '漢', '賓', '濟', '愛', '艷', '輝', '從', '姍', '勝', '碩', '遠', '選', '鳴', '書', '躍', '崢', '婭', '學', '奧', '齊', '堅', '順', '衝', '棟', '劍', '麥', '樂', '剛', '詠', '樹', '邊', '憲', '紅', '獻'}
========

In [353]:
# second character of first name
# 'firstname_12_second.txt','firstname_12_second_TC.txt'
Testing('firstname_12_second.txt','firstname_12_second_TC.txt')

True
========
{'顿', '冬', '纯', '钟', '锦', '内', '顺', '东', '寿', '余', '风', '阳', '聪', '马', '钧', '谦', '银', '维', '汉', '库', '远', '诺', '园', '宾', '里', '声', '云', '图', '乐', '济', '胜', '欢', '传', '为', '齐', '宪', '满', '达', '会', '权', '晓', '凤', '铭', '举', '军', '志', '瑶', '灵', '晖', '时', '松', '乔', '钰', '凯', '怀', '宽', '鹏', '坚', '璇', '焕', '发', '艳', '韬', '庄', '琼', '营', '娅', '圆', '彦', '兹', '盖', '伟', '勋', '凌', '荣', '诚', '滨', '莲', '镇', '苏', '纳', '贤', '龄', '义', '宁', '叶', '杨', '连', '农', '伦', '书', '洁', '鸿', '杰', '业', '帅', '萨', '开', '兴', '刚', '亚', '礼', '桥', '静', '蒙', '轩', '广', '妈', '贝', '跃', '涛', '俭', '辉', '卫', '钦', '华', '长', '国', '莹', '红', '称', '艺', '标', '鲁', '剑', '灿', '姗', '丰', '范', '莱', '贵', '贞', '钊', '才', '宝', '尔', '家', '兰', '鸣', '泽', '飞', '万', '强', '庆', '龙', '进', '学', '楼', '儿', '诗', '尧', '双', '启', '克', '丝', '侠', '扎', '颖', '乡', '运', '芸', '秋', '娇', '锋', '师', '扬', '奥', '岚', '丽', '罗', '逊', '仪', '来', '玮', '实', '圣', '栋', '韦', '征', '岭', '玛'}
{'為', '義', '維', '濛', '馬', '陽', '齡', '歡', '蓮', '瑩', '豐', '徵', '濤', '瓊', '餘', '瑪', '莊', '韋', '庫', '權', '嬌', '瑋', '運', '帥', '嶺', '靜', '貴', '勛', '潔', '榮', '國', '茲', '滿', '鼕', '誌', '軒', '寜', '雲', '鋒', '倫', '蓋', '媽', '纔', '達', '剋', '圓', '納', '開', '連', '聖', '聲', '暉', '來', '雙', '師', '淩', '強', '飛', '萬', '鈞', '賢', '傢', '彥', '壽', '銘', '鴻', '聰', '風', '圖', '穎', '軍', '鈺', '欽', '時', '誠', '樓', '麗', '葉', '傳', '進', '寬', '頓', '羅', '靈', '楊', '純', '凱', '濱', '錦', '兒', '鳳', '慶', '龍', '蘭', '瑤', '偉', '懷', '衛', '啓', '鄉', '鬆', '營', '業', '謙', '禮', '紮', '鍾', '喬', '曉', '薩', '貝', '鎮', '裏', '揚', '絲', '澤', '寶', '萊', '農', '長', '燦', '鞦', '興', '爾', '貞', '諾', '魯', '煥', '蕓', '園', '俠', '發', '銀', '內', '鵬', '會', '嵐', '藝', '標', '詩', '釗', '遜', '傑', '舉', '蘇', '廣', '璿', '稱', '亞', '橋', '堯', '華', '東', '漢', '賓', '濟', '艷', '輝', '姍', '勝', '遠', '鳴', '韜', '書', '躍', '婭', '學', '儀', '奧', '儉', '堅', '順', '範', '齊', '棟', '實', '劍', '樂', '剛', '憲', '紅'}
========

# 2nd testing

In [354]:
# last name 
a = 'last.txt'
b = 'last_TC.txt'

# first character of first name
#a = 'firstname_12_one.txt'
#b = 'firstname_12_one_TC.txt'

# second character of first name
#a = 'firstname_12_second.txt'
#b = 'firstname_12_second_TC.txt'


dff = pd.read_csv(a, sep=" ", header=None, names=["a"])
dff2 = pd.read_csv(b, sep=" ", header=None, names=["b"])


df_all = pd.concat([dff, dff2], axis='columns',)

def print_full(x):
    pd.set_option('display.max_rows', len(x))
    print(x)
    pd.reset_option('display.max_rows')
    
print_full(df_all.loc[df_all['a'] != df_all['b']])

     a  b
2    张  張
3    陈  陳
4    刘  劉
5    杨  楊
6    黄  黃
7    吴  吳
8    马  馬
9    赵  趙
12   朱  硃
14   胡  鬍
15   孙  孫
16   罗  羅
18   郑  鄭
23   谢  謝
24   许  許
26   苏  蘇
27   韩  韓
32   叶  葉
33   冯  馮
34   沈  瀋
39   吕  呂
43   蒋  蔣
46   邓  鄧
47   克  剋
54   卢  盧
55   贾  賈
61   姜  薑
63   余  餘
64   范  範
70   于  於
74   乔  喬
75   钟  鍾
76   陆  陸
80   华  華
83   万  萬
90   谭  譚
92   欧  歐
93   严  嚴
97   钱  錢
99   贺  賀
100  齐  齊
104  邹  鄒
108  温  溫
110  顾  顧
112  鲁  魯
113  奥  奧
115  凯  凱
116  萨  薩
117  韦  韋
118  汤  湯
120  龙  龍
121  杰  傑
123  龚  龔
130  麦  麥
131  约  約
135  贝  貝
139  亚  亞
144  玛  瑪
145  鲍  鮑
148  迈  邁
150  乌  烏
151  向  嚮
153  兰  蘭
154  赖  賴
159  蓝  藍
166  维  維
167  闫  閆
168  关  關
170  达  達
180  聂  聶
188  费  費
189  岳  嶽
190  庄  莊
192  莱  萊
199  连  連
200  萧  蕭
201  庞  龐
205  毕  畢
208  颜  顔
209  库  庫
213  朴  樸
216  蒙  濛
222  凌  淩
227  爱  愛
228  纪  紀
233  卫  衛
234  游  遊
235  谷  榖
239  扎  紮
242  宁  寜
246  诺  諾
248  盖  蓋
249  圣  聖
251  窦  竇
252  骆  駱
255  车  車
260  劳  勞
262  涂  塗
263  纳  納
267  里  裏
270  赛  賽
271  曲  麯
276  阎  閻
283  乐  樂
284  内  內
287  储  儲
289  简  簡
295  单  單
296  娄  婁
299  项  項
302  宫  宮
312  党  黨
314  东  東
319  汉  漢
321  强  強
322  阳  陽
327  松  鬆
328  饶  饒
329  荣  榮
330  荆  荊
331  丰  豐
332  缪  繆
342  热  熱
343  卜  蔔
344  闵  閔
345  怀  懷
352  扬  揚
355  图  圖
358  边  邊
361  买  買
362  丽  麗
370  迟  遲
377  郁  鬱
379  帅  帥
385  谈  談
388  泽  澤
389  国  國
391  谌  諶
395  邝  鄺
397  巩  鞏
398  铁  鐵
400  银  銀
403  云  雲
404  纽  紐
406  千  韆
407  宝  寶
408  农  農
410  闻  聞
412  应  應
413  门  門
418  晋  晉
421  来  來
422  诸  諸
425  蔺  藺
428  经  經
430  师  師
431  别  彆
432  丛  叢
433  权  權
434  贡  貢
439  琼  瓊
440  时  時
444  阙  闕
448  凤  鳳
449  区  區
450  习  習
453  伦  倫
456  楼  樓
457  兴  興
462  绍  紹
480  回  迴
486  让  讓
489  畅  暢
492  广  廣
495  练  練
504  励  勵
506  舍  捨
510  满  滿
511  寿  壽
513  钮  鈕
517  优  優
520  尔  爾
521  邬  鄔
522  宾  賓
524  才  纔

# Change and Modify character

In [355]:
# last name
i = {"於","薑","剋","瀋","纔","裏","麯","韆","彆"}

# first character of first name
#i = {"誌","剋","裏","傢","鞦","嚮","鼕","淩","濛","纔","榖","蔔","蔔","蔔"}

# second character of first name
#i = {"剋","裏","鬆","纔","誌","鞦","餘","淩","鼕","濛","範"}

for c in i:
    df_all["b"] = df_all["b"].replace(c,df_all["a"],regex=True)
print_full(df_all)

     a  b
0    王  王
1    李  李
2    张  張
3    陈  陳
4    刘  劉
5    杨  楊
6    黄  黃
7    吴  吳
8    马  馬
9    赵  趙
10   周  周
11   林  林
12   朱  硃
13   徐  徐
14   胡  鬍
15   孙  孫
16   罗  羅
17   郭  郭
18   郑  鄭
19   金  金
20   阿  阿
21   何  何
22   高  高
23   谢  謝
24   许  許
25   宋  宋
26   苏  蘇
27   韩  韓
28   梁  梁
29   蔡  蔡
30   安  安
31   唐  唐
32   叶  葉
33   冯  馮
34   沈  沈
35   曹  曹
36   潘  潘
37   董  董
38   程  程
39   吕  呂
40   袁  袁
41   汪  汪
42   丁  丁
43   蒋  蔣
44   艾  艾
45   方  方
46   邓  鄧
47   克  克
48   肖  肖
49   白  白
50   杜  杜
51   魏  魏
52   卡  卡
53   江  江
54   卢  盧
55   贾  賈
56   彭  彭
57   夏  夏
58   田  田
59   雷  雷
60   崔  崔
61   姜  姜
62   曾  曾
63   余  餘
64   范  範
65   石  石
66   洪  洪
67   斯  斯
68   秦  秦
69   姚  姚
70   于  于
71   巴  巴
72   布  布
73   戴  戴
74   乔  喬
75   钟  鍾
76   陆  陸
77   梅  梅
78   伊  伊
79   廖  廖
80   华  華
81   史  史
82   拉  拉
83   万  萬
84   武  武
85   任  任
86   文  文
87   孟  孟
88   熊  熊
89   莫  莫
90   谭  譚
91   薛  薛
92   欧  歐
93   严  嚴
94   康  康
95   邱  邱
96   侯  侯
97   钱  錢
98   陶  陶
99   贺  賀
100  齐  齊
101  毛  毛
102  邵  邵
103  尹  尹
104  邹  鄒
105  格  格
106  西  西
107  詹  詹
108  温  溫
109  哈  哈
110  顾  顧
111  吉  吉
112  鲁  魯
113  奥  奧
114  施  施
115  凯  凱
116  萨  薩
117  韦  韋
118  汤  湯
119  傅  傅
120  龙  龍
121  杰  傑
122  郝  郝
123  龚  龔
124  弗  弗
125  尼  尼
126  古  古
127  埃  埃
128  穆  穆
129  米  米
130  麦  麥
131  约  約
132  海  海
133  德  德
134  柯  柯
135  贝  貝
136  普  普
137  沙  沙
138  柳  柳
139  亚  亞
140  葛  葛
141  黎  黎
142  霍  霍
143  孔  孔
144  玛  瑪
145  鲍  鮑
146  比  比
147  威  威
148  迈  邁
149  段  段
150  乌  烏
151  向  嚮
152  章  章
153  兰  蘭
154  赖  賴
155  查  查
156  付  付
157  倪  倪
158  童  童
159  蓝  藍
160  伍  伍
161  帕  帕
162  牛  牛
163  科  科
164  桑  桑
165  托  托
166  维  維
167  闫  閆
168  关  關
169  大  大
170  达  達
171  路  路
172  邢  邢
173  俞  俞
174  瓦  瓦
175  保  保
176  丹  丹
177  常  常
178  尤  尤
179  甘  甘
180  聂  聶
181  樊  樊
182  殷  殷
183  塞  塞
184  和  和
185  特  特
186  翟  翟
187  博  博
188  费  費
189  岳  嶽
190  庄  莊
191  迪  迪
192  莱  萊
193  左  左
194  索  索
195  易  易
196  福  福
197  耿  耿
198  申  申
199  连  連
200  萧  蕭
201  庞  龐
202  沃  沃
203  焦  焦
204  辛  辛
205  毕  畢
206  祝  祝
207  符  符
208  颜  顔
209  库  庫
210  塔  塔
211  翁  翁
212  菲  菲
213  朴  樸
214  希  希
215  盛  盛
216  蒙  濛
217  阮  阮
218  卓  卓
219  季  季
220  加  加
221  皮  皮
222  凌  淩
223  尚  尚
224  赫  赫
225  洛  洛
226  利  利
227  爱  愛
228  纪  紀
229  明  明
230  裴  裴
231  泰  泰
232  南  南
233  卫  衛
234  游  遊
235  谷  榖
236  舒  舒
237  包  包
238  成  成
239  扎  紮
240  小  小
241  法  法
242  宁  寜
243  戈  戈
244  惠  惠
245  瑞  瑞
246  诺  諾
247  波  波
248  盖  蓋
249  圣  聖
250  山  山
251  窦  竇
252  骆  駱
253  柏  柏
254  楚  楚
255  车  車
256  宗  宗
257  木  木
258  蒲  蒲
259  柴  柴
260  劳  勞
261  基  基
262  涂  塗
263  纳  納
264  桂  桂
265  蒂  蒂
266  喻  喻
267  里  里
268  房  房
269  司  司
270  赛  賽
271  曲  曲
272  覃  覃
273  多  多
274  屈  屈
275  本  本
276  阎  閻
277  苗  苗
278  景  景
279  管  管
280  佩  佩
281  理  理
282  彼  彼
283  乐  樂
284  内  內
285  代  代
286  道  道
287  储  儲
288  肯  肯
289  简  簡
290  隋  隋
291  虞  虞
292  祁  祁
293  晏  晏
294  伯  伯
295  单  單
296  娄  婁
297  燕  燕
298  席  席
299  项  項
300  靳  靳
301  考  考
302  宫  宮
303  花  花
304  努  努
305  莎  莎
306  廉  廉
307  中  中
308  珍  珍
309  寇  寇
310  解  解
311  奚  奚
312  党  黨
313  佘  佘
314  东  東
315  商  商
316  官  官
317  戚  戚
318  冀  冀
319  汉  漢
320  冷  冷
321  强  強
322  阳  陽
323  摩  摩
324  狄  狄
325  臧  臧
326  池  池
327  松  鬆
328  饶  饒
329  荣  榮
330  荆  荊
331  丰  豐
332  缪  繆
333  滕  滕
334  屠  屠
335  甄  甄
336  曼  曼
337  雅  雅
338  卞  卞
339  佟  佟
340  平  平
341  切  切
342  热  熱
343  卜  蔔
344  闵  閔
345  怀  懷
346  匡  匡
347  亨  亨
348  瞿  瞿
349  慕  慕
350  冉  冉
351  祖  祖
352  扬  揚
353  宣  宣
354  玉  玉
355  图  圖
356  娜  娜
357  英  英
358  边  邊
359  褚  褚
360  嘉  嘉
361  买  買
362  丽  麗
363  仲  仲
364  郎  郎
365  刁  刁
366  姬  姬
367  宇  宇
368  仇  仇
369  丘  丘
370  迟  遲
371  杭  杭
372  全  全
373  默  默
374  薄  薄
375  拜  拜
376  原  原
377  郁  鬱
378  哥  哥
379  帅  帥
380  恩  恩
381  岑  岑
382  坎  坎
383  勒  勒
384  班  班
385  谈  談
386  奇  奇
387  鞠  鞠
388  泽  澤
389  国  國
390  封  封
391  谌  諶
392  苑  苑
393  牟  牟
394  郜  郜
395  邝  鄺
396  隆  隆
397  巩  鞏
398  铁  鐵
399  伏  伏
400  银  銀
401  列  列
402  展  展
403  云  雲
404  纽  紐
405  水  水
406  千  千
407  宝  寶
408  农  農
409  浦  浦
410  闻  聞
411  呼  呼
412  应  應
413  门  門
414  永  永
415  崇  崇
416  辜  辜
417  沐  沐
418  晋  晉
419  茅  茅
420  束  束
421  来  來
422  诸  諸
423  裘  裘
424  麻  麻
425  蔺  藺
426  昂  昂
427  耶  耶
428  经  經
429  公  公
430  师  師
431  别  别
432  丛  叢
433  权  權
434  贡  貢
435  鹿  鹿
436  敏  敏
437  敬  敬
438  京  京
439  琼  瓊
440  时  時
441  昌  昌
442  凡  凡
443  仁  仁
444  阙  闕
445  相  相
446  三  三
447  豪  豪
448  凤  鳳
449  区  區
450  习  習
451  那  那
452  琳  琳
453  伦  倫
454  依  依
455  巫  巫
456  楼  樓
457  兴  興
458  吐  吐
459  旺  旺
460  提  提
461  雪  雪
462  绍  紹
463  野  野
464  芮  芮
465  栗  栗
466  逄  逄
467  容  容
468  紫  紫
469  莉  莉
470  居  居
471  富  富
472  候  候
473  宛  宛
474  粟  粟
475  冼  冼
476  奕  奕
477  渡  渡
478  雍  雍
479  青  青
480  回  迴
481  吾  吾
482  印  印
483  黛  黛
484  北  北
485  巢  巢
486  让  讓
487  禹  禹
488  敖  敖
489  畅  暢
490  都  都
491  坦  坦
492  广  廣
493  操  操
494  奈  奈
495  练  練
496  堂  堂
497  逯  逯
498  土  土
499  孝  孝
500  瓜  瓜
501  芭  芭
502  芬  芬
503  晁  晁
504  励  勵
505  佐  佐
506  舍  捨
507  朗  朗
508  揭  揭
509  綦  綦
510  满  滿
511  寿  壽
512  休  休
513  钮  鈕
514  赤  赤
515  亓  亓
516  川  川
517  优  優
518  荷  荷
519  素  素
520  尔  爾
521  邬  鄔
522  宾  賓
523  森  森
524  才  才
525  蕾  蕾
526  井  井
527  衣  衣

In [356]:
# Export last name to txt file

print(df_all['b'].to_csv(r'last_final.txt', header=None, index=None, sep=' ', mode='a'))

None

In [320]:
# Extract to first character of first name
#df_first1 = df_all[['b']]
#df_first1.rename(columns={'b': 'B1'}, inplace=True)# change column name
df_first1.head()
#len (df_first1)

  B1
0  曉
1  文
2  爾
3  建
4  小

In [328]:
# Extract to second character of first name
#df_first2 = df_all[['b']]
#df_first2.rename(columns={'b': 'B2'}, inplace=True)# change column name
df_first2.head()
#len (df_first2)

  B2
0  華
1  斯
2  平
3  爾
4  明

In [329]:
# Export txt file
print(df_first2.to_csv(r'first_name_12_1char.txt', header=None, index=None, sep=' ', mode='a'))

None

# Combination of first name

In [321]:
# function of combination
def cartesian(df1, df2):
    rows = itertools.product(df1.iterrows(), df2.iterrows())   
    #print (rows)
    df = pd.DataFrame(left.append(right) for (_, left), (_, right) in rows)
    print (rows)
    return df.reset_index(drop=True)

In [324]:
combined_firstname_final = functools.reduce(cartesian, [df_first1, df_first2])

<itertools.product object at 0x1467132d0>

In [325]:
print(combined_firstname_final.head())
len(combined_firstname_final)

  B1 B2
0  曉  華
1  曉  斯
2  曉  平
3  曉  爾
4  曉  明

355796

In [326]:
# Remove space between 2 character
combined_firstname_final['B3'] = combined_firstname_final.B1.str.cat(combined_firstname_final.B2)
combined_firstname_F = pd.DataFrame(combined_firstname_final.iloc[:, 2:3])
combined_firstname_F.head()

   B3
0  曉華
1  曉斯
2  曉平
3  曉爾
4  曉明

In [330]:
# Export txt file
print(combined_firstname_F.to_csv(r'first_name_12_2char.txt', header=None, index=None, sep=' ', mode='a'))

None

# End

# Make new dataset for 2 character

In [95]:
b = 'firstname_12_only2Character_TC.txt'

dff = pd.read_csv(b, sep=" ", header=None, names=["B2"])
dff.head()

  B2
0  華
1  斯
2  平
3  爾
4  明

In [96]:
# Export last name if only 2 character of name
print(df4.to_csv(r'middle.txt', header=None, index=None, sep=' ', mode='a'))

None

In [84]:
#last_name.txt
Translate_value('middle.txt','middle_TC.txt', 1)

In [97]:
c = 'middle_TC.txt'

dffr = pd.read_csv(c, sep=" ", header=None, names=["B1"])
dffr.head()

  B1
0  曉
1  文
2  爾
3  建
4  小

In [98]:
combined_firstname_final = functools.reduce(cartesian, [dffr, dff])

<itertools.product object at 0x148fad828>

In [100]:
# Remove space between 2 character
combined_firstname_final['B3'] = combined_firstname_final.B1.str.cat(combined_firstname_final.B2)
combined_firstname_final = pd.DataFrame(combined_firstname_final.iloc[:, 2:3])
combined_firstname_final.head()

   B3
0  曉華
1  曉斯
2  曉平
3  曉爾
4  曉明

In [102]:
# Export txt file
print(combined_firstname_final.to_csv(r'first_name_12_final.txt', header=None, index=None, sep=' ', mode='a'))

None

In [103]:
len (combined_firstname_final)

354748

In [ ]:
#combined_all = functools.reduce(cartesian, [df3, combined_firstname])

In [165]:
# try
#Testing('CtextTry.txt','CtextTry2.txt')

#last_name.txt
#Testing('last_name.txt','last_name_TC.txt')
# 'firstname_12_only2Character.txt','firstname_12_only2Character_TC.txt')
a = 'last_name.txt'
b = 'last_name_TC.txt'

dff = pd.read_csv(a, sep=" ", header=None, names=["a"])
dff2 = pd.read_csv(b, sep=" ", header=None, names=["b"])
#dff3 = pd.read_csv(b, sep=" ", header=None, names=["a"])

df_all = pd.concat([dff, dff2], axis='columns',)
#df_all = pd.concat([df, df2], 
                   #axis='columns', keys=['First', 'Second'])
#display(df_all)

In [166]:
#df_all = df_all[df_all["a"] != df_all["b"]]
#display(df_all)

In [304]:
def diff_df(df1, df2, how="left"):
    """
      Find Difference of rows for given two dataframes
      this function is not symmetric, means
            diff(x, y) != diff(y, x)
      however
            diff(x, y, how='left') == diff(y, x, how='right')

      Ref: https://stackoverflow.com/questions/18180763/set-difference-for-pandas/40209800#40209800
    """
    if (df1.columns != df2.columns).any():
        raise ValueError("Two dataframe columns must match")

    if df1.equals(df2):
        return None
    elif how == 'right':
        return pd.concat([df2, df1, df1]).drop_duplicates(keep=False)
    elif how == 'left':
        return pd.concat([df1, df2, df2]).drop_duplicates(keep=False)
    else:
        raise ValueError('how parameter supports only "left" or "right keywords"')

In [305]:
diff_df(dff, dff3)

     a
0    华
3    尔
7    生
8    军
10   东
12   伟
13   龙
14   峰
15   强
16   辉
18   杰
19   民
21   国
24   荣
25   红
27   刚
29   玲
30   春
31   斌
32   新
33   清
37   芳
38   云
39   光
40   涛
41   忠
42   良
43   亮
44   祥
45   飞
..  ..
484  杨
485  邦
486  钟
488  帝
489  丝
490  姐
491  州
492  影
493  乔
494  竹
495  曦
496  实
497  潮
498  满
500  庚
501  第
502  翠
503  苏
506  济
508  萱
509  楼
510  范
513  谦
515  治
516  佑
517  娇
518  姗
519  二
521  圆
522  俭

[377 rows x 1 columns]

# first - first name
志  誌
克  剋
冬  鼕
凌  淩
蒙  濛
卜  蔔
千  韆

In [128]:
df_all['a'].isin(df_all['b'])

0    False
1    False
2    False
Name: a, dtype: bool

In [133]:
# Convert to String
# 'last_name.txt','last_name_TC.txt'

with open('last_name.txt', 'r') as f:
    myNames2 = [line.strip() for line in f]
    str2 = ''.join(myNames2)
    #print (myNames2)
with open('last_name_TC.txt', 'r') as f:
    myNames3 = [line.strip() for line in f]
    str3 = ''.join(myNames3)
    #print (myNames3)
HanziConv.same(str2, str3)
compare_different(str2, str3)

========
{'畅', '韩', '纽', '毕', '劳', '钟', '孙', '闵', '内', '谈', '东', '寿', '余', '马', '阳', '宫', '岳', '银', '刘', '维', '麦', '汉', '库', '蔺', '晋', '诺', '宾', '纪', '里', '云', '蓝', '巩', '乐', '爱', '齐', '满', '邝', '姜', '单', '练', '钮', '铁', '达', '诸', '权', '蒋', '迟', '凤', '乌', '陆', '严', '陈', '费', '时', '赵', '松', '乔', '凯', '怀', '顾', '缪', '区', '庄', '琼', '别', '涂', '卜', '盖', '丛', '凌', '贾', '储', '荣', '赛', '绍', '约', '冯', '苏', '应', '纳', '汤', '叶', '宁', '杨', '连', '关', '温', '萧', '农', '伦', '邬', '杰', '于', '谢', '贡', '帅', '萨', '郁', '兴', '亚', '项', '邹', '蒙', '吕', '赖', '广', '庞', '吴', '习', '郑', '贝', '让', '经', '舍', '车', '卫', '欧', '华', '闻', '简', '向', '迈', '邓', '国', '谷', '许', '窦', '鲁', '钱', '娄', '闫', '丰', '范', '莱', '优', '谌', '才', '宝', '千', '尔', '荆', '兰', '泽', '贺', '万', '卢', '买', '强', '龙', '楼', '骆', '饶', '黄', '热', '党', '曲', '阎', '聂', '回', '扎', '朴', '边', '师', '游', '扬', '奥', '门', '沈', '丽', '张', '罗', '鲍', '来', '阙', '励', '圣', '韦', '颜', '图', '谭', '龚', '玛'}
{'歐', '習', '許', '關', '維', '濛', '饒', '馬', '榖', '闕', '陽', '麯', '簡', '熱', '蔔', '暢', '區', '陸', '豐', '瀋', '賈', '瓊', '餘', '瑪', '莊', '韋', '庫', '權', '練', '劉', '賽', '帥', '塗', '讓', '鬱', '錢', '談', '榮', '國', '呂', '滿', '寜', '雲', '紹', '聞', '鄒', '倫', '蓋', '纔', '達', '賀', '鞏', '納', '孫', '連', '聖', '費', '顧', '來', '勞', '勵', '諸', '師', '淩', '強', '蕭', '萬', '韆', '嶽', '紀', '鄭', '壽', '婁', '龔', '顔', '圖', '晉', '閆', '蔣', '鄧', '約', '時', '單', '樓', '麗', '諶', '遊', '葉', '賴', '盧', '迴', '於', '藺', '羅', '鄔', '楊', '經', '凱', '湯', '鮑', '陳', '趙', '鳳', '藍', '龍', '蘭', '烏', '譚', '懷', '衛', '鬆', '車', '嚮', '紮', '鍾', '喬', '薩', '薑', '貝', '裏', '揚', '荊', '閔', '門', '澤', '寶', '萊', '農', '謝', '溫', '龐', '黃', '竇', '應', '興', '爾', '諾', '鐵', '魯', '韓', '項', '鄺', '儲', '嚴', '銀', '內', '貢', '叢', '傑', '買', '蘇', '廣', '亞', '閻', '邁', '華', '畢', '黨', '東', '繆', '宮', '優', '鈕', '漢', '賓', '彆', '遲', '愛', '聶', '吳', '馮', '駱', '樸', '齊', '奧', '捨', '紐', '範', '麥', '樂', '邊', '張'}
========

In [134]:
set_old = set(str2)
set_new = set(str3)

In [135]:
print(set_old-set_new)
ALL_CHAR = set()
for element in set_new-set_old:
    ALL_CHAR.add(element)

{'畅', '韩', '纽', '毕', '劳', '钟', '孙', '闵', '内', '谈', '东', '寿', '余', '马', '阳', '宫', '岳', '银', '刘', '维', '麦', '汉', '库', '蔺', '晋', '诺', '宾', '纪', '里', '云', '蓝', '巩', '乐', '爱', '齐', '满', '邝', '姜', '单', '练', '钮', '铁', '达', '诸', '权', '蒋', '迟', '凤', '乌', '陆', '严', '陈', '费', '时', '赵', '松', '乔', '凯', '怀', '顾', '缪', '区', '庄', '琼', '别', '涂', '卜', '盖', '丛', '凌', '贾', '储', '荣', '赛', '绍', '约', '冯', '苏', '应', '纳', '汤', '叶', '宁', '杨', '连', '关', '温', '萧', '农', '伦', '邬', '杰', '于', '谢', '贡', '帅', '萨', '郁', '兴', '亚', '项', '邹', '蒙', '吕', '赖', '广', '庞', '吴', '习', '郑', '贝', '让', '经', '舍', '车', '卫', '欧', '华', '闻', '简', '向', '迈', '邓', '国', '谷', '许', '窦', '鲁', '钱', '娄', '闫', '丰', '范', '莱', '优', '谌', '才', '宝', '千', '尔', '荆', '兰', '泽', '贺', '万', '卢', '买', '强', '龙', '楼', '骆', '饶', '黄', '热', '党', '曲', '阎', '聂', '回', '扎', '朴', '边', '师', '游', '扬', '奥', '门', '沈', '丽', '张', '罗', '鲍', '来', '阙', '励', '圣', '韦', '颜', '图', '谭', '龚', '玛'}

In [136]:
ALL_CHAR

{'亞',
 '來',
 '倫',
 '傑',
 '優',
 '儲',
 '內',
 '凱',
 '劉',
 '勞',
 '勵',
 '區',
 '叢',
 '吳',
 '呂',
 '喬',
 '單',
 '嚮',
 '嚴',
 '國',
 '圖',
 '塗',
 '壽',
 '奧',
 '婁',
 '孫',
 '宮',
 '寜',
 '寶',
 '嶽',
 '帥',
 '師',
 '庫',
 '廣',
 '張',
 '強',
 '彆',
 '愛',
 '應',
 '懷',
 '捨',
 '揚',
 '於',
 '時',
 '晉',
 '暢',
 '東',
 '楊',
 '榖',
 '榮',
 '樂',
 '樓',
 '樸',
 '權',
 '歐',
 '淩',
 '湯',
 '溫',
 '滿',
 '漢',
 '澤',
 '濛',
 '瀋',
 '烏',
 '熱',
 '爾',
 '瑪',
 '瓊',
 '畢',
 '盧',
 '竇',
 '範',
 '簡',
 '紀',
 '約',
 '納',
 '紐',
 '紮',
 '紹',
 '經',
 '維',
 '練',
 '繆',
 '纔',
 '羅',
 '習',
 '聖',
 '聞',
 '聶',
 '興',
 '荊',
 '莊',
 '華',
 '萊',
 '萬',
 '葉',
 '蓋',
 '蔔',
 '蔣',
 '蕭',
 '薑',
 '薩',
 '藍',
 '藺',
 '蘇',
 '蘭',
 '衛',
 '裏',
 '許',
 '談',
 '諶',
 '諸',
 '諾',
 '謝',
 '譚',
 '讓',
 '豐',
 '貝',
 '貢',
 '買',
 '費',
 '賀',
 '賈',
 '賓',
 '賴',
 '賽',
 '趙',
 '車',
 '農',
 '迴',
 '連',
 '遊',
 '達',
 '遲',
 '邁',
 '邊',
 '鄒',
 '鄔',
 '鄧',
 '鄭',
 '鄺',
 '鈕',
 '銀',
 '錢',
 '鍾',
 '鐵',
 '門',
 '閆',
 '閔',
 '閻',
 '闕',
 '關',
 '陳',
 '陸',
 '陽',
 '雲',
 '鞏',
 '韆',
 '韋',
 '韓',
 '項',
 '顔',
 '顧',
 '餘',
 '饒',
 '馬',
 '馮',
 '駱',
 '鬆',
 '鬱',
 '魯',
 '鮑',
 '鳳',
 '麗',
 '麥',
 '麯',
 '黃',
 '黨',
 '齊',
 '龍',
 '龐',
 '龔'}

In [ ]:
# Compare strings
def compare_different(question_old, question_new):
    ALL_CHAR = set()
    if question_old != question_new:
        print("========")
        set_old = set(question_old)
        set_new = set(question_new)
        print(set_old-set_new)
        print(set_new-set_old)
        for element in set_new-set_old:
            ALL_CHAR.add(element)
        print("========")

In [ ]:
# Compare strings
compare_different(question_old, question_new):

In [ ]:
#df4 = pd.DataFrame(df2.iloc[:, 1:2])
#df5 = pd.DataFrame(df2.iloc[:, 2:3])
#print (df4.head())
#print (df5.head())
#df4 = df4['B1'].unique()
#df8 = pd.DataFrame({'B1':df4})
#print (df8)
#df5 = df5['B2'].unique()
#df9 = pd.DataFrame({'B2':df5})
#print (df9)

In [ ]:
def cartesian(df1, df2):
    rows = itertools.product(df1.iterrows(), df2.iterrows())   
    #print (rows)
    df = pd.DataFrame(left.append(right) for (_, left), (_, right) in rows)
    print (rows)
    return df.reset_index(drop=True)

In [ ]:
#combined = functools.reduce(cartesian, [df7, df8, df9])

In [ ]:
len (combined)

In [ ]:
print(combined.tail())

# Compare dataframes

In [137]:
def diff_df(df1, df2, how="left"):
    """
      Find Difference of rows for given two dataframes
      this function is not symmetric, means
            diff(x, y) != diff(y, x)
      however
            diff(x, y, how='left') == diff(y, x, how='right')

      Ref: https://stackoverflow.com/questions/18180763/set-difference-for-pandas/40209800#40209800
    """
    if (df1.columns != df2.columns).any():
        raise ValueError("Two dataframe columns must match")

    if df1.equals(df2):
        return None
    elif how == 'right':
        return pd.concat([df2, df1, df1]).drop_duplicates(keep=False)
    elif how == 'left':
        return pd.concat([df1, df2, df2]).drop_duplicates(keep=False)
    else:
        raise ValueError('how parameter supports only "left" or "right keywords"')

In [ ]:
def diff_df(df1, df2, how="left"):
    """
      Find Difference of rows for given two dataframes
      this function is not symmetric, means
            diff(x, y) != diff(y, x)
      however
            diff(x, y, how='left') == diff(y, x, how='right')

      Ref: https://stackoverflow.com/questions/18180763/set-difference-for-pandas/40209800#40209800
    """
    if (df1.columns != df2.columns).any():
        raise ValueError("Two dataframe columns must match")

    if df1.equals(df2):
        return None
    elif how == 'right':
        return pd.concat([df2, df1, df1]).drop_duplicates(keep=False)
    elif how == 'left':
        return pd.concat([df1, df2, df2]).drop_duplicates(keep=False)
    else:
        raise ValueError('how parameter supports only "left" or "right keywords"')

In [116]:
import sys
if sys.version_info[0] < 3:
    from StringIO import StringIO
else:
    from io import StringIO

DF1 = StringIO("""id   Name   score                    isEnrolled           Comment
111  Jack   2.17                     True                 "He was late to class"
112  Nick   1.11                     False                "Graduated"
113  Zoe    NaN                     True                  " "
""")
DF2 = StringIO("""id   Name   score                    isEnrolled           Comment
111  Jack   2.17                     True                 "He was late to class"
112  Nick   1.21                     False                "Graduated"
113  Zoe    NaN                     False                "On vacation" """)
df1 = pd.read_table(DF1, sep='\s+', index_col='id')
df2 = pd.read_table(DF2, sep='\s+', index_col='id')
diff_df(df1, df2)

     Name  score  isEnrolled    Comment
id
112  Nick   1.11       False  Graduated
113   Zoe    NaN        True

# Translate Simple chinese to traditional chinese

In [ ]:
from hanziconv import HanziConv
import pandas as pd
print(HanziConv.toSimplified('繁簡轉換器'))
print(HanziConv.toTraditional('繁简转换器'))
HanziConv.same('繁簡轉換器', '繁简转换器')

In [ ]:
data1 = pd.read_csv('https://raw.githubusercontent.com/fung1091/profile/master/worksample/combin.txt')
data1.columns = ["a"]
print (data1.head())

In [ ]:
HanziConv.toTraditional(data1)

In [ ]:
## Translate from simple chinese to traditional chinese by using list

In [ ]:
with open('CtextTry.txt', 'r') as f:
    myNames = [line.strip() for line in f]
    print (myNames)

In [ ]:
myNames

In [ ]:
str1 = ''.join(myNames)
str1

In [ ]:
z = HanziConv.toTraditional(str1)
z

In [ ]:
import re
y = [x for x in re.split(r'(\w{5})', x) if x]
y

In [ ]:
HanziConv.same(str1, x)

In [ ]:
def itersplit_into_x_chunks(string,x=10): # we assume here that x is an int and > 0
    size = len(string)
    chunksize = size//x
    for pos in range(0, size, chunksize):
        yield string[pos:pos+chunksize]

In [ ]:
yy = list(itersplit_into_x_chunks(z,x=3))
yy

In [ ]:
z
x = 5
for y in range(x, len(z)+x,x):
    print (y)

In [ ]:

x=5 
res=[z[y-x:y] for y in range(x, len(z)+x,x)]
print(res)

In [ ]:
HanziConv.same(myNames, res)

In [ ]:
HanziConv.same(myNames, yy)

In [ ]:
myNames == myNames

In [ ]:
with open('CtextTry2.txt', 'w') as f:
    for item in res:
        f.write("%s\n" % item)

In [ ]:
with open("CtextTry1.txt", "w") as output:
    output.write(str(res))

In [ ]:
with open('CtextTry.txt', 'r') as f:
    myNames2 = [line.strip() for line in f]
    print (myNames2)

In [ ]:
with open('CtextTry2.txt', 'r') as f:
    myNames3 = [line.strip() for line in f]
    print (myNames3)

In [ ]:
str2 = ''.join(myNames2)
str3 = ''.join(myNames3)

In [ ]:
HanziConv.same(str2, str3)