# Data permutation for Chinese Name
- source: https://stackoverflow.com/questions/44974782/python3-pandas-how-to-create-all-combinations-of-4-columns-and-write-them-in-r

In [1]:
import pandas as pd
import numpy as np 
import itertools
import functools

data = pd.read_csv('https://raw.githubusercontent.com/hankcs/HanLP/master/data/dictionary/custom/%E4%BA%BA%E5%90%8D%E8%AF%8D%E5%85%B8.txt', header = None)
#data = pd.read_csv('https://raw.githubusercontent.com/fung1091/profile/master/worksample/combin.txt')
data.columns = ["a"]
#print (data.head())
len(data)

50190

In [39]:
splitted = data['a'].apply(lambda x: pd.Series(list(x)))
splitted.columns = ['B'+str(x) for x in splitted.columns]
df2 = data.join(splitted)
df2 = pd.DataFrame(df2.iloc[1:50190, 1:4])


print(df2)
len (df2)

      B0 B1 B2
1      丁  一  宇
2      丁  一  平
3      丁  万  明
4      丁  世  伟
5      丁  世  芳
6      丁  东  红
7      丁  中  福
8      丁  丽
9      丁  丽  丽
10     丁  书  苗
11     丁  二  春
12     丁  云  川
13     丁  五  一
14     丁  亚  萍
15     丁  亮
16     丁  以  婕
17     丁  以  胜
18     丁  伟
19     丁  伟  巍
20     丁  伟  杰
21     丁  佳  洁
22     丁  俊  晖
23     丁  俊  毅
24     丁  健
25     丁  元  竹
26     丁  克
27     丁  克  族
28     丁  全  录
29     丁  兰  萍
30     丁  兴  来
...   .. .. ..
50160  龚  礼
50161  龚  祖  康
50162  龚  祖  英
50163  龚  秀  松
50164  龚  维  芳
50165  龚  羽  飞
50166  龚  育  之
50167  龚  自  珍
50168  龚  良
50169  龚  艳  玲
50170  龚  艳  菊
50171  龚  莉
50172  龚  莉  萍
50173  龚  萍
50174  龚  萨
50175  龚  蓓  苾
50176  龚  蕾
50177  龚  警  官
50178  龚  轩
50179  龚  辉
50180  龚  金  平
50181  龚  金  秋
50182  龚  铭
50183  龚  锐  云
50184  龚  锣
50185  龚  阿  莉
50186  龚  隽
50187  龚  雪
50188  龟  井  幸
50189  唐  律  师

[50189 rows x 3 columns]

50189

In [49]:
df3 = pd.DataFrame(df2.iloc[:, 1:2])
df3['count'] = 1
df3 = df3.groupby(['B1'], as_index=False).count()
df3 = df3.sort_values(by=['count'], ascending=False) # sort the largest value
df3 = df3[df3['count'] > 50] # remove the number less than 1
df3 = pd.DataFrame(df3.iloc[:, 0:1])
print (df3)
len (df3)

     B1
1010  晓
955   文
630   尔
751   建
628   小
795   德
801   志
180   克
1102  某
398   国
1220  永
32    丽
993   明
1302  海
1485  玉
2292  金
2288  里
606   家
893   拉
963   斯
999   春
474   大
964   新
242   利
109   伟
62    亚
145   俊
278   华
565   子
1698  立
...  ..
1925  茂
1411  炳
249   加
337   君
2298  鑫
1019  普
1041  曼
1018  晨
97    仲
483   奇
1054  木
320   可
2117  诺
633   尚
2145  贤
2180  跃
1554  瓦
2497  高
1921  若
809   怀
440   基
1211  比
528   威
1490  玛
41    乐
451   塞
1123  根
2103  诗
5     丁
2315  铁

[244 rows x 1 columns]

244

In [50]:
df4 = pd.DataFrame(df2.iloc[:, 2:3])
df4['count'] = 1
df4 = df4.groupby(['B2'], as_index=False).count()
df4 = df4.sort_values(by=['count'], ascending=False) # sort the largest value
df4 = df4[df4['count'] > 50] # remove the number less than 1
df4 = pd.DataFrame(df4.iloc[:, 0:1])
print (df4)
len (df4)

     B2
0
4     ·
263   华
881   斯
654   平
575   尔
907   明
986   林
875   文
1403  生
187   军
725   德
19    东
1302  特
95    伟
2265  龙
615   峰
695   强
1964  辉
1719  英
982   杰
1095  民
162   克
379   国
813   拉
1139  波
1739  荣
1567  红
1035  梅
218   刚
...  ..
229   力
626   川
1979  远
6     一
1956  轩
1507  秀
2189  颖
971   权
1516  称
518   子
636   巴
98    伦
166   全
978   来
1363  琪
1748  莎
1165  浩
1132  河
280   卿
412   城
933   普
683   建
1532  章
489   威
1082  正
2134  雅
644   希
1978  进
1144  洁
359   喜

[178 rows x 1 columns]

178

In [ ]:
def char_frequency(str1):
    dict = {}
    for n in str1:
        keys = dict.keys()
        if n in keys:
            dict[n] += 1
        else:
            dict[n] = 1
    return dict
char_frequency(dff)

In [ ]:
df2

In [ ]:
#cars_for_sell = [line.replace("\n", "") for line in open("cars_for_sell.txt")]
common_words = get_top_n_words(cars_for_sell, 20)
for word, freq in common_words:
    print(word, freq)

In [ ]:
#pd.DataFrame(df2.iloc[1:1000, 1:4])

In [ ]:
df3 = pd.DataFrame(df2.iloc[:, 0:1])
df3.head()

In [ ]:
df6 = df3['B0'].unique()
df7 = pd.DataFrame({'B0':df6})
df7

In [ ]:
df4 = pd.DataFrame(df2.iloc[:, 1:2])
df5 = pd.DataFrame(df2.iloc[:, 2:3])
#print (df4.head())
#print (df5.head())
df4 = df4['B1'].unique()
df8 = pd.DataFrame({'B1':df4})
print (df8)
df5 = df5['B2'].unique()
df9 = pd.DataFrame({'B2':df5})
print (df9)

In [ ]:
df8 = df5['B2'].unique()
df8

In [ ]:
a = ["foo", "melon"]
b = [True, False]
c = list(itertools.product(a, b))
c

In [ ]:
d = list(itertools.product(df6, df7))
d

In [ ]:
e = list(itertools.product(d, df8))
e

In [ ]:
pd.DataFrame.from_dict(e)

In [ ]:
def cartesian(df1, df2):
    rows = itertools.product(df1.iterrows(), df2.iterrows())   
    #print (rows)
    df = pd.DataFrame(left.append(right) for (_, left), (_, right) in rows)
    print (rows)
    return df.reset_index(drop=True)

In [ ]:
count = 0
#for xxx in xxxx:
#    count += 1
#    if count % 100 == 0:
#        print (count)

In [ ]:
combined = functools.reduce(cartesian, [df7, df8, df9])

In [ ]:
len(combined)

In [ ]:
print (combined)